body {
	background-color: white;
	font-family: Helvetica, Arial;
}

a {
	text-decoration: none;
	color: #7a8388;
}

#tweet {
	position: relative;
	left: 90px;
	float: left;
	margin-bottom: 20px;
}

#portrait {
	position: fixed;
	float: left;
	margin-top: 8px;
}

#daysbefore {
	margin-top: 8px;
	color: #d8d8d8;
	float: right;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

hr {
	clear: both;
	background-color: #f2f2f2;
	height: 2px;
	border: 0;
	margin: 0;
}